<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<title>Twit Bot</title>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script
  src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
  
<script src="/scripts/ng-materialize/materialize.js"></script>



<!--<link rel="shortcut icon" href="../../images/favicon.png">-->
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/materialize.min.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">