  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Twitception</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/settings">Settings</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/clear">Clear</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/dive">Dive</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Search</a></li>
      </ul>
    </div>
  </nav>