<div class="row">
  <div class="col s12">

    <form method="post" action="/search">

      <div class="row">
        <div class="input-field col l8 m8 s8 offset-l2 offset-m2 offset-s2">
          <input id="tweet_search" name="searchText" class="validate" type="text" autocomplete="off">
          <label class="active" for="tweet_search">Search Hashtags...</label>
        </div>
        <div class="input-field col l2 m2 s2">
          <button class="waves-effect waves-light btn" type="submit">Search</button>
        </div>
      </div>
    </form>

    <section class="twitter-buttons row">
        <% if (locals.siblingTags) { %>
          <% for(var i=0; i < siblingTags.length; i++) {%>
            <form method="post" action="/search">

              <input type="hidden" name="searchText" value="<%= siblingTags[i] %>">
              <button class="col s2 waves-effect waves-light btn indigo" type="submit">
                  <%= siblingTags[i] %>
              </button>
            </form>

          <% } %>
        <% } %>
    </section>


  </div>
</div>
