<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
</head>
<body>
    
    <% include ../views/partials/header %>

    <main>
        <% include ../views/partials/search %>
    </main>
    
    <% include ../views/partials/footer %>
    
</body>
</html>